@inherits UmbracoViewPage

@{
    var siteSettings = Model.GetSiteSettings();
    if (siteSettings?.FooterContent is null) return;
}

<qc-footer site-url="https://www.quebec.ca"
           site-nom="Gouvernement du Qu&eacute;bec">
    <div slot="liens-principaux">
        @await Html.GetBlockGridItemsHtmlAsync(siteSettings.FooterContent)
    </div>
    <div slot="liens-secondaires">
        @* @Html.GetBlockListHtml(preferences, "PiedLiensSecondaires") *@
    </div>
    <div slot="copyright">
        Copyright &copy; @Umbraco.GetDictionaryValue("CopyrightStatement") @DateTime.Now.Year
    </div>
</qc-footer>