@inherits UmbracoViewPage

@{
    var siteSettings = Model.GetSiteSettings();
    if (siteSettings?.FooterContent is null) return;
}

<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            @await Html.GetBlockGridItemsHtmlAsync(siteSettings.FooterContent)
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; @Umbraco.GetDictionaryValue("CopyrightStatement") @DateTime.Now.Year</small></div>
</div>