@using Umbraco.Cms.Web.Common.PublishedModels
@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.Section>>
@{
    const int CONTENT_AREA = 0;
}
<section class="py-5">
    <div class="container">
        <div class="row">
            @{
                var contentArea = Model.Areas.ElementAt(CONTENT_AREA);
                if (contentArea != null && contentArea.Any())
                {
                    foreach (var item in contentArea)
                    {

                        <div class="col-lg-@item.ColumnSpan">
                            @await Html.PartialAsync("blockgrid/Components/richText", item)
                        </div>
                    }
                }
            }
        </div>
    </div>

</section>