@using Umbraco.Cms.Web.Common.PublishedModels
@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.Section>>
@{
    const int CONTENT_AREA = 0;
}
<section class="py-7">
    <div class="container">
        <div class="row">
            @{
                var contentArea = Model.Areas.ElementAt(CONTENT_AREA);
                if (contentArea != null && contentArea.Any())
                {
                    var classToApply = "";
                    var itemCount = contentArea.Count;
                    var i = 0;
                    foreach (var item in contentArea)
                    {
                        if (itemCount > 1)
                        {
                            if (itemCount > 1 && i % 2 == 1)
                            {
                                classToApply = "me-auto";
                            }
                            else
                            {
                                classToApply = "ms-auto";
                            }
                        }
                        else
                        {
                            classToApply = "mx-auto";
                        }

                        <div class="col-lg-@item.ColumnSpan @(classToApply)">
                            @await Html.PartialAsync("blockgrid/Components/richText", item)
                        </div>
                        i++;
                    }
                }
            }
        </div>
    </div>

</section>