@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.StandardHeader>>

<div class="container">
    <div class="row">
        <div class="col-md-9">

            @if (Model.Content.Image != null)

            {
                <!-- Image-->
                <img class="masthead-avatar mb-5" src="@Model.Content.Image.GetCropUrl(400)" alt="@Model.Content.Image.GetAltText()" />
            }
            <h1>@Model.Content.Title</h1>

            @if (!string.IsNullOrWhiteSpace(Model.Content.Subtitle))

            {

                <p class="h4 fw-light lh-base">@Model.Content.Subtitle</p>
            }

        </div>
    </div>
</div>