@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.Title>>

@{
    var textColourClass = Model.Content.Color != null ? "text-" + Model.Content.Color.Label.ToLower() : "text-secondary";
    var dividerColourClass = Model.Content.Color != null && Model.Content.Color.Label == "White" ? "divider-light" : null;
}

<h2 class="mt-0 @(textColourClass) mb-0">@Model.Content.Text</h2>