:root {
    --bs-primary-rgb: 9, 87, 151;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

qc-footer {
    margin-top: auto;
}

/**
    Sidebar
*/

.menu-secondaire {
    margin-top: 5.5rem;
    margin-bottom: 3rem;
    padding-right: 1rem;
}

.menu-secondaire h2 {
    font-family: "Open Sans", sans-serif;
    color: rgb(34, 54, 84);
    line-height: 20px;
    font-size: 14px;
    padding-left: .5rem;
}

.menu-secondaire ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-secondaire > ul {
   border-bottom: 1px solid rgb(197, 202, 210);
   padding-top: .5rem;
}

.menu-secondaire a {
    font-family: "Open Sans", sans-serif;
    color: rgb(9, 87, 151);
    text-decoration: none;
    line-height: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-secondaire a.active {
    font-weight: bold;
}

.menu-secondaire > ul > li > a.tree-item {
    padding: 1rem 0 1rem .5rem;
    line-height: 20px;
    border-top: 1px solid rgb(197, 202, 210);
}

.menu-secondaire > ul > li > ul > li > a.tree-item {
    padding: .5rem 0;
}

.menu-secondaire > ul > li > ul > li:last-child > a.tree-item,
.menu-secondaire > ul > li > ul > li > ul > li:last-child > a.tree-item {
    padding-bottom: 1rem;
}

.menu-secondaire > ul > li:last-child > a.tree-item {
   border-bottom:none;
}

.menu-secondaire > ul > li > a.tree-item:hover {
    background-color: #DAE6F0;
}

.menu-secondaire > ul > li > a.tree-item.active {
    background-color: #DAE6F0;
}

.menu-secondaire ul ul {
    padding-left: 1.5rem;
}

.menu-secondaire ul ul ul {
    padding-left: 0;
}

.menu-secondaire ul ul a:hover{
    text-decoration: underline;
}

.menu-secondaire ul ul > li > ul > li {
    display: flex;
    gap: .5rem;
    padding: .5rem 0;
}

.menu-secondaire ul ul > li > ul > li:first-child {
    padding-top: 0;
}

.menu-secondaire ul ul > li > ul > li:before {
    content: "\2014";
    color: rgb(9, 87, 151);
       
}

.tree-item[aria-expanded]::after {
    content: "";
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    background-image: url(img/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 200ms ease-in;
    transform-origin: center;
    margin-left: auto;
    margin-right: .25rem;
}

.tree-item[aria-expanded="true"]::after {
    transform: rotate(180deg);
}


